* {
    font-family: Poppins;
}

.navbar {
    background-color: #2D3891;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.logo img {
    height: 60px;
    width: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    border-radius: 8px;
}

.logo img:hover {
    transform: scale(1.1);
    filter: brightness(1.8) saturate(1.8);
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 700px;
    margin: 0 20px;
    position: relative;
}

.search-kota {
    width: 300px;
    border-radius: 5px;
    height: auto;
}

.input-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.input-wrapper input {
    height: 40px;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-wrapper input:first-child {
    width: 300px;
    margin-right: 10px;
}

.input-wrapper input:nth-child(2) {
    width: 300px;
}

.search-button {
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 25px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #FF3131;
}

.nav-links a:hover::after {
    width: 100%;
}

.no-hover:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.no-hover:hover::after {
    width: 0 !important;
}

.no-hover img:hover,
.no-hover .jual-btn:hover {
    transform: none !important;
    filter: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}

.jual-btn {
    background-color: #FF3131;
    width: 80px;
    text-align: center;
    border-radius: 20px;
}

.foto-profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-left img {
        margin-left: 0;
    }

    .footer-container {
        padding: 20px 20px;
    }
}
